.main-container {
  display: flex;
  justify-content: flex-start;
  padding: 20px;
}

.content {
  margin-left: 220px;
  width: calc(100% - 240px); 
  padding: 20px;
}

.barnav {
  position: fixed;
  top: 120px; 
  left: 0;
  width: 200px;
  background-color: #f4f4f4;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  height: calc(100vh - 120px); 
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-start;
  transition: top 0.3s ease;
}

.barnav h2 {
  text-align: center;
  margin-bottom: 20px;
}

.barnav ul {
  list-style-type: none;
  padding: 0;
}

.barnav li {
  margin: 15px 0;
}

.barnav a {
  text-decoration: none;
  color: #333;
  font-size: 1.2rem;
}

.barnav a:hover {
  color: rgb(103, 98, 177);
}

.barnav a:active {
  color: rgb(103, 98, 177);
}

/* Sticky header styles */
header {
  position: sticky;
  top: 0;
  z-index: 10;
  background-color: rgba(228, 218, 255, 0.8);
  padding: 10px 0;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  transition: opacity 0.3s ease, transform 0.3s ease;
}

header.hidden {
  opacity: 0;
  transform: translateY(-100%);
  pointer-events: none;
}

/* Navigation items styling */
.items {
  display: flex;
  justify-content: space-between;
  margin-right: 2vw;
  margin-left: 2vw;
  color: rgb(48, 48, 48);
  font-size: 13px;
}

.nav-links {
  display: flex;
  gap: 20px;

}

.items a {
  color: rgb(48, 48, 48);
  text-decoration: none;
  transition: transform 0.5s ease;
}

.items a:hover {
  color: rgb(103, 98, 177);
  transform: scale(1.2);
}

h2 {
  padding: 0;
}

.github-link {
  display: flex;
  align-items: center;
}

.github-link i{
  font-size: 1.7rem; 
  color: rgb(48, 48, 48); 
  margin-right: 3px; 
  
  
}




@media (max-width: 1200px) {
  .barnav {
    width: 180px;
    top: 120px;
  }

  .content {
    margin-left: 200px;
    width: calc(100% - 220px); 
  }
}


@media (max-width: 768px) {
  .main-container {
    flex-direction: column; 
    padding: 10px;
  }

  .barnav {
    position: static;
    width: 100%;
    top: 0;
    height: auto;
    padding: 10px;
    box-shadow: none;
  }

  .content {
    margin-left: 0;
    width: 100%;
    padding: 10px;
  }

  .barnav ul {
    display: flex;
    flex-direction: row; 
    justify-content: space-around;
    padding-top: 10px;
  }

  .barnav a {
    font-size: 1rem; 
  }
}


@media (max-width: 480px) {
  .barnav {
    font-size: 0.9rem;
    padding: 5px;
  }

  .barnav a {
    font-size: 0.9rem; 
  }
}

