@keyframes slideUp {
    from {
        transform: translateY(50px); 
        opacity: 0; 
    }
    to {
        transform: translateY(0); 
        opacity: 1; 
    }
}

.herobanner {
    animation: slideUp 1.5s ease-out; 
    opacity: 0; 
    animation-fill-mode: forwards; 
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    
    height: 70vh;
    text-shadow: 5px 5px #1b252e1e;
}
.herobanner h1 {
    font-size: 3rem;
    color: rgb(48, 48, 48);
    width: 60%;
    letter-spacing: 0.5px;
}
.name {
    color: rgb(84, 71, 255);
}

.herobanner h2{
    color: rgb(48, 48, 48);
    letter-spacing: 0.5px;

}


.boutton{
    
    display: flex;
    justify-content: center;
    gap: 20px; 
    align-items: center;
    margin-top: 40px;
}



.scrollbutton a{
    margin-top: 10vh;
    margin-bottom: 25vh;
}

.scrollbutton a {
    font-weight: bold;
    color: rgb(220, 220, 220);
    font-size: 1rem;
    text-decoration: none;
    border: 3px solid rgb(84, 71, 255);
    padding: 15px 30px;
    border-radius: 30px;
    background-color: rgb(84, 71, 255);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.scrollbutton a:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(84, 71, 255);
    border-color: rgb(84, 71, 255);
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}

.dowloadbutton {
    margin-top: 0px;
    margin-bottom: 0vh;
    justify-content: center;
    display: flex;
    
}
.dowloadbutton a {
    font-weight: bold;
    color: rgb(220, 220, 220);
    font-size: 1rem;
    text-decoration: none;
    border: 3px solid rgb(84, 71, 255);
    padding: 15px 30px;
    border-radius: 30px;
    background-color: rgb(84, 71, 255);
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    transition: all 0.4s ease;
}

.dowloadbutton a:hover {
    background-color: rgb(242, 242, 242);
    color: rgb(84, 71, 255);
    border-color: rgb(84, 71, 255);
    transform: translateY(-5px);
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.2);
}
