.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App h1 {
  font-size: 2.5rem;  
  color: #5447ff;  
  margin-bottom: 15px;  
  text-align: center;  
  text-shadow: 5px 5px #1b252e1e;
}

#Projects {
  align-items: center;
  justify-content: center;
  display: flex;
  left: auto;
  right: auto;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(auto, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  margin: 0 auto;
  width: fit-content;
  flex-direction: column;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
body {
  scroll-behavior: smooth;
  font-family: 'Be Vietnam Pro', sans-serif;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.main-container {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

.Card {
  display: flex;
  flex-direction: row;
  gap: 40px;
  margin-bottom: 40px;

}

.Card2 {
  display: flex;
  flex-direction: row;
  gap: 40px;
}

#skills{
  padding-top: 70px;

}

